body{
  background-color: #0A5796;
}

.headerimage{
  text-align: center;
}

.headingbar{
    width: 75%;
  text-align: center;
  margin:auto;
  background-color: white;

}

.warning{
  font-size: 8px;
}

.calltoaction{
  font-weight: bold;
  font-style: italic;
  color: #AA131B;
  font-size: 18px;
}



.legend{
  background-color: white;
  opacity: 85%;
  height: 160px;
  width: 235px;
  border: 2px;

  position: absolute;
    top: 0;
    left: 710px;
    z-index: 2;
}

#mapContainer{
  position: relative;
}


.column {
float: left;
width: 40%;
}

.row:after {
content: "";
display: table;
clear: both;
}

.legenditem{
  width:13px;
  height:12px;
  margin: 0 auto;
  right: 40px;
  padding:1.5px;

}

p{
  font-size: 10px;
  line-height: 6px;
  /* padding-left: 2px; */
}

.legendtitle{
  padding-left: 30px;
  font-weight: bold;
  font-size: 12px;
}

.legendcat{
  font-size: 12px;
  font-weight: bold;
}

.responsetypes{
  font-size: 11px;
  line-height: 8px;
}
